body {
	width: 100%;
	height: 100%;
	color: #4ECDC4;
}

h1 {
	font-size: 36px;
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 1.5px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.team {
    margin-top: 25px;
    font-size: 28px;
    font-family: 'Archivo Narrow', sans-serif;
	margin-bottom: 15px;
    animation: fadein 4s;
}

#app-container {
	width: 100%;
	height: 100vh;
	background-color: #647383;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
    flex-direction: column;
}

textarea {
	min-height: 100px;
	min-width: 200px;
	margin-bottom: 8px;
}

.error-text {
	color: red;
}

button {
	padding: 15px;
	color: #4ECDC4;
	background-color: #647383;
	border: 1px solid #4ECDC4;
}

button:hover {
	background-color: #4ECDC4;
	color: #647383;
	cursor: pointer;
}

button:focus {
	outline: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

