body {
	width: 100%;
	height: 100%;
	/* color: #4ECDC4; */
	background-image: url(../img/lightbg.png);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


footer {
	margin-top: auto;
}

.team {
    margin-top: 25px;
    font-size: 28px;
    font-family: 'Archivo Narrow', sans-serif;
	margin-bottom: 15px;
    animation: fadein 4s;
}

#app-container {
	width: 100%;
	height: 100vh;
	/* background-color: #647383; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
    flex-direction: column;
}

textarea {
	min-height: 100px;
	min-width: 200px;
	margin-bottom: 8px;
}

.error-text {
	color: sandybrown;
}

button {
	display: inline-block;
	background-color: #fff;
	font-size: 13px;
	padding: 12px 18px;
	color: #121212;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	margin-top: 25px;
}

button:hover {
	background-color: #4ECDC4;
	color: #647383;
	cursor: pointer;
}

button:focus {
	outline: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





h2 {
	font-size: 36px;
	font-weight: 400;
	color: #360606;
}

h2 span {
	font-weight: 700;
	color: #33c1cf!important;
}

h2 em {
	font-style: normal;
	font-weight: 700;
	color: #f89624!important;
}

p {
	color: #080000;
	font-size: 14px;
	line-height: 32px;
}

p foot {
	font-style: italic;
	color: #080000;
	font-size: 11px;
	line-height: 20px;
}
 
  a {
	position: relative;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
  }
  
  a::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: green;
	opacity: 0;
	transition: .3s;
  }
  
  a:hover::after {
	bottom: 0;
	opacity: 1;
	color: green;
  }
  
  a:hover {
	/* color: green; */
	background-color: #4ECDC4;
	color: #647383;
	cursor: pointer;
  }
  

  a {
	display: inline-block;
	background-color: #f5e9d8;
	font-size: 13px;
	padding: 12px 18px;
	color: #121212;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 20px;
	margin-top: 25px;
}


a foot {
	font-style: italic;
	color: #120aee;
	font-size: 11px;
	line-height: 20px;
}

/* BEGIN:table style */

/* main table element */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* styling the table header */
.styled-table tr th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
/*table cells*/
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
/* table rows */
.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* active or hovered row */
.styled-table tr:hover {
    font-weight: bold;
    color: #009879;
}

/* END: table style*/
/* BEGIN: slider style */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #tabularOutputDiv {
	font-size: 13px;
	padding: 12px 18px;
	color: #121212;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 25px;
}
  /*END: slider styles*/